{% extends "layout.html" %} {% block title %}Battery #<code
  >{{ battery.public_id }}</code
>{% endblock %} {% block content %}
<div class="space-between">
  <form action="/batteries/update" method="post">
    <input type="hidden" name="id" value="{{battery.id}}" />
    <input type="hidden" name="public_id" value="{{battery.public_id}}" />

    <label for="color">Color</label>
    <input
      id="color"
      name="color"
      type="text"
      value="{{battery.color or ''}}"
      required
    />

    <label for="used_by">Used by</label>
    <input
      id="used_by"
      name="used_by"
      type="text"
      value="{{battery.used_by or ''}}"
    />

    <label for="spec">Spec</label>
    <select id="spec" name="spec_id" required>
      <option selected>None</option>
      {% for spec in specs %}
      <option value="{{spec.id}}" {% if spec.id == battery.spec_id %} selected {% endif %}>{{spec}}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Save" class="vertical-space" />
  </form>
  <div>
    <h3>Capacity Stats</h3>
    <table style="max-width: 400px">
      <thead>
        <tr>
          <th>Average</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stats.avg_capacity}}</td>
          <td>{{stats.min_capacity}}</td>
          <td>{{stats.max_capacity}}</td>
        </tr>
      </tbody>
    </table>
    <h3>Resistance Stats</h3>
    <table style="max-width: 400px">
      <thead>
        <tr>
          <th>Average</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stats.avg_resistance}}</td>
          <td>{{stats.min_resistance}}</td>
          <td>{{stats.max_resistance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<h2>Previous Tests ({{battery.tests | list | length}})</h2>
<table class="table-sortable">
  <thead>
    <tr>
      <th>Capacity (mah)</th>
      <th>Resistance (mΩ)</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for test in battery.tests | sort(attribute='date', reverse = True) %}
    <tr>
      <td>{{test.capacity_mah}}</td>
      <td>{{test.resistance_mohm}}</td>
      <td>{{test.date.strftime('%Y-%m-%d %H:%M:%S %p')}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
