{% extends "layout.html" %}
{% block title %}All Batteries ({{batteries | length }}){% endblock %}
{%block content %}
{% if batteries %}
<div class="vertical-space">
  {#
  <div>
    <a href="#">Copy capacity to clipboard</a>
  </div>
  #}
</div>
<input
  type="text"
  placeholder="Filter by battery ID"
  id="filterById"
  class="vertical-space"
/>
<table id="tblBatteries" class="table-sortable">
  <thead>
    <tr>
      <th width="40" class="no-sort"><span id="select-all">✘</span></th>
      <th>Battery ID</th>
      <th width="110" title="Last known capacity (mah)">Capacity</th>
      <th width="110" title="Last known resistance (mΩ)">Resistance</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Color</th>
      <th>Used by</th>
      <th width="30" class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    {% for battery in batteries %}
    <tr class="{{'warning' if not (battery.spec and battery.color) else ''}}">
      <td><input type="checkbox" checked class="chkBattery" /></td>
      <td>
        <a href="/batteries/{{battery.public_id}}"> {{ battery.public_id}} </a>
      </td>
      <td>{{ battery.tests | map(attribute='capacity_mah') | list | last }}</td>
      <td>
        {{ battery.tests | map(attribute='resistance_mohm') | list | last |
        round(2) }}
      </td>
      <td>{{ battery.spec.manufacturer or 'N/A' }}</td>
      <td>{{ battery.spec.model or 'N/A' }}</td>
      <td style="background: #{{battery.color}};">
        {{ battery.color or 'N/A' }}
      </td>
      <td>{{ battery.used_by or 'N/A' }}</td>
      <td><a href="#" title="Delete">✘</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
