{% extends "layout.html" %}

{% block title %}All Batteries{% endblock %}

{% block content %}
  {% if batteries %}
    <div class="vertial-space space-between">
      <div>
        <a href="#" id="select-all">Unselect all</a>
      </div>
      <div>
        <!--<a href="#">Export CSV</a> | <a href="#">Copy capacity to clipboard</a>-->
      </div>
    </div>
    <input type="text" placeholder="Filter by battery ID" id="filterById" class="vertial-space"/>
    <table id="tblBatteries" class="table-sortable">
      <thead>
        <tr>
          <th width="50"></th>
          <th>Battery ID</th>
          <th title="Last known capacity (mah)">Latest Capacity</th>
          <th title="Last known resistance (mohm)">Latest Resistance</th>
          <th>Color</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        {% for battery in batteries %}
        <tr>
          <td><input type="checkbox" checked class="chkBattery"></td>
          <td>
            <a href="/batteries/{{battery.public_id}}">
              Battery #{{ battery.public_id}}
            </a>
          </td>
          <td>{{ battery.tests | map(attribute='capacity_mah') | list | last }}</td>
          <td>{{ battery.tests | map(attribute='resistance_mohm') | list | last }}</td>
          <td>{{ battery.color if battery.color else 'N/A' }}</td>
          <td><a href="#">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
