<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battery Test</title>
    <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}" type="application/javascript" defer></script>
    <script src="{{ url_for('static', filename='js/table-sortable.js') }}" type="application/javascript" defer></script>
  </head>
  <body>
    <nav>
      <a href="/">Batteries</a>
      <a href="/specs">Specs</a>
      <a href="/doc">Documentation</a>
    </nav>
    <main>
      <h1>{% block title %}{% endblock %}</h1>
      <hr />
      <div>{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>
