/* general */
* {
  box-sizing: border-box;
}
body {
  max-width: 1000px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-evenly;
  background: #333;
  padding: 2px;
}
nav a {
  color: #fff;
}
nav a:hover {
  text-decoration: none;
}

/* inputs */
input[type="submit"] {
  background: #54b370;
  color: #fff;
}

/* table sortable */
.table-sortable th {
  cursor: pointer;
  user-select: none;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
  color: #26a498;
  padding-left: 2px;
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
  color: #26a498;
  padding-left: 2px;
}

/* helpers */
.vertical-space {
  margin-top: 15px;
  margin-bottom: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  background: #ff830069 !important;
}

.hidden {
  display: none;
}
