/* general */
* {
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: space-evenly;
  background: #333;
  padding: 2px;
}
nav a {
  color: #fff;
}
nav a:hover {
  text-decoration: none;
}

/* helpers */
.vertial-space {
  margin-top: 10px;
  margin-bottom: 10px;
}
