{% extends "layout.html" %}

{% block title %}All Batteries{% endblock %}

{% block content %}
  {% if batteries %}
    <table>
      <thead>
        <tr>
          <th width="50"></th>
          <th>Battery ID</th>
          <th title="Last known capacity (mah)">Capacity</th>
          <th title="Last known resistance (mohm)">Resistance</th>
          <th>Color</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for battery in batteries %}
        <tr>
          <th><input type="checkbox" name="" id="" checked></th>
          <td>
            <a href="/batteries/{{battery.public_id}}">
              Battery #{{ battery.public_id}}
            </a>
          </td>
          <td></td>
          <td></td>
          <td>{{ battery.color if battery.color else 'N/A' }}</td>
          <td><a href="#">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
